.gpt4-wgpt4 {
  padding: 3rem 2rem;
  background-color: rgba(217, 217, 217, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(35px);
}

.gpt4-wgpt4-feature .gpt4-features-container-feature {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.gpt4-wgpt4-feature .gpt4-features-container-feature-text {
  max-width: 700px;
}

.gpt4-wgpt4-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}
.gpt4-wgpt4-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  max-width: 510px;
}

.gpt4-wgpt4-heading p {
  color: var(--color-subtext);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.gpt4-wgpt4-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
  gap: 2rem;
}

.gpt4-wgpt4-container .gpt4-features-container-feature {
  max-width: 400px;
}

@media (max-width: 1200px) {
  .gpt4-wgpt4-feature .gpt4-features-container-feature {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .gpt4-wgpt4-heading {
    flex-direction: column;
    align-items: flex-start;
  }

  .gpt4-wgpt4-heading p {
    margin-top: 1rem;
  }
}

@media (max-width: 650px) {
  /* Customizing feature component as per needs */
  .gpt4-wgpt4-feature .gpt4-features-container-feature {
    flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .gpt4-wgpt4-feature .gpt4-features-container-feature-text {
    margin-top: 0.5rem;
  }

  .gpt4-wgpt4-heading {
    margin: 3rem 0;
  }

  .gpt4-wgpt4-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media (max-width: 350px) {
  /* Customizing feature component as per needs */
  .gpt4-wgpt4-container .gpt4-features-container-feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
